@model List<Service.Response.TarefaResponse>
<label class="text-success">@TempData["MensagemSucesso"]</label>
<label class="text-danger">@TempData["MensagemErro"]</label>
<label class="text-danger" id="mensagemDeErro"></label>


<div class="row no-gutters">

    <div class="col-lg-4 pl-lg-2 mb-3">
        <div class="card h-lg-100">
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-auto">
                        <h6 class="mb-0">Nova tarefa</h6>
                    </div>
                    <div class="col-auto d-flex">

                    </div>
                </div>
            </div>
            <div class="card-body h-100 pr-0">
                <div class="echart-line-total-sales h-100" data-echart-responsive="true"></div>
                
                <div class="card mb-2 rounded-3 shadow-sm" style="margin-right: 20px;">

                    <div class="card-body" style="word-break: break-all;">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Descrição</label>
                            <textarea class="form-control" id="DescricaoTarefa" rows="3"></textarea>
                        </div>
                        <button type="button" class="w-100 btn btn-sm btn-primary" onclick="CriarTarefa()">Adicionar tafera</button>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <div class="col-lg-4 pl-lg-2 mb-3">
        <div class="card h-lg-100">
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-auto">
                        <h6 class="mb-0">Á Fazer</h6>
                    </div>
                    <div class="col-auto d-flex">
                    </div>
                </div>
            </div>
            <div class="card-body h-100 pr-0">

                @foreach (var tarefa in Model.Where(x => x.Situacao == Service.Enum.SituacaoEnum.Afazer)?.ToList().OrderByDescending(x => x.Id))
                {
                    <div class="card mb-2 rounded-3 shadow-sm" style="margin-right: 20px;">

                        <div class="card-body" style="word-break: break-all;">
                            
                            <h1 class="card-title pricing-card-title">@tarefa.Id</h1>
                            <label id="label_@tarefa.Id">@tarefa.Descricao</label>
                            <br />
                            <button type="button" class="btn btn-sm btn-primary" onclick="ColocarTarefaEmEdicao(@tarefa.Id, @tarefa.UsuarioId)">Editar</button>
                            <button type="button" class="btn btn-sm btn-success" onclick="ConcluirTarefaAFazer(@tarefa.Id, @tarefa.UsuarioId)">Concluir</button>
                            <button type="button" class="btn btn-sm btn-danger" onclick="RemoverTarefa(@tarefa.Id)">Remover</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-4 pl-lg-2 mb-3">
        <div class="card h-lg-100">
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-auto">
                        <h6 class="mb-0">Feitas</h6>
                    </div>
                    <div class="col-auto d-flex">

                    </div>
                </div>
            </div>
            <div class="card-body h-100 pr-0">
                <div class="echart-line-total-sales h-100" data-echart-responsive="true"></div>
                @foreach (var tarefa in Model.Where(x => x.Situacao == Service.Enum.SituacaoEnum.Feitos)?.ToList().OrderByDescending(x => x.Id))
                {
                    <div class="card mb-2 rounded-3 shadow-sm" style="margin-right: 20px;">

                        <div class="card-body" style="word-break: break-all;">
                            <h1 class="card-title pricing-card-title">@tarefa.Id</h1>
                            <label>@tarefa.Descricao</label>
                            <br />
                            <button type="button" class="btn btn-sm btn-danger" onclick="RemoverTarefa(@tarefa.Id)">Remover</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</div>